[Desktop Entry]
Name=Doudou
Comment=Doudou Flutter Application
Exec=doudou
Icon=gitlab.openlyst.doudou
Terminal=false
Type=Application
Categories=AudioVideo;Player;
StartupNotify=true
MimeType=video/mp4;video/avi;video/mkv;audio/mp3;audio/flac;audio/ogg;